<!DOCTYPE html>
<html>
    <head>
        <title>Lovebomb</title>
        <link rel="stylesheet" href='/stylesheets/style.css'/>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'>
        <script type='text/javascript' id='lt_ws' src='http://localhost:59886/socket.io/lighttable/ws.js'></script>
        </script>


    </head>

    <body>

    <div class="container">
        <h1>LOVEBOMB</h1>
        <div class="loggedin">
            <input type="text" id="recipientName" placeholder="who needs the love?" value=""/>
            <br/>
            <input type="tel" id="recipientNumber" placeholder="what's their phone number?" value="" other="6508045596"/>
            <input type="tel" id="bomberNumber" placeholder="what's your phone number?" value=""/>
            <br/>
            <input type="text" id="name2"   placeholder="Friend's Name" value=""/>
            <input type="tel"  id="number2" placeholder="Friend's Number" value=""/>

            <div class="button" id="submit">Go!</div>
            <br/>
            <div class="button" id="logout">logout</div>
        </div>

        <div class="starting" style="display:none;">
          <h2>Calling you to start the Lovebomb...</h1>
        </div>

        <div class="telling" style="display:none;">
          <h2>Sending this Lovebomb!</h2>
        </div>


        <div class="loggedout">
            <div id="rocket"></div><br/>
            <div class="button" id="login">login</div>
        </div>


    </div>

    <script src="/js/client.js"></script>
    </body>

</html>
